@import url(fonts.css);

:root{
    --cor1:#0777D9;
    --cor2:#085CA6;
    --cor3:#084DA6;
    --cor4:#073673;
    --cor5:#041E40;

    --fonte-padrao:arial, helvetica, sans-serif;
    --fonte-destaque:"Bebas Neue", sans-serif;
    --fonte-titulo:"Arsenal SC", sans-serif;
    --fonte-paragrafo:"Prompt", sans-serif;
    --fonte-numero-caption:"Inconsolata", monospace;
    --fonte-titulo-tabela: "Anton", sans-serif;;
}

body{
    background-image: url(imagens/4k-universe.fundo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}

*{
    margin: 0%;
    padding: 0%;
}

header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--cor4) );
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
    width: 100%;
}

header > h1{
    color: white;
    font-weight: normal;
    font-family:var(--fonte-destaque) ;
    font-size: 2.1em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.589);
    letter-spacing: 1px;
}

header p{
    color: white;
    font-family:var(--fonte-paragrafo);
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.479) ;
}

nav{
    background-color: var(--cor4);
    text-align: center;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

nav > a{
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
    margin-right: 15px;
    transition-duration: 0.5s;
    padding: 5px;
    font-size: 1em;
    font-family: var(--fonte-titulo);
}

nav > a:hover{
    background-color:#02A8E4;
    color: #0112ff;
}

main{
    background-color: white;
    max-width: 1050px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

main img{
    width: 100%;
    border-radius: 10px;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

strong{
    color: #000000;
    font-weight: bold;
    transition-duration: 0.3s;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 1.8em;
    font-size: 1em;
    font-family: var(--fonte-padrao);
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: #01bbff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    transition-duration: 0.4s;
}

main a:hover{
    color: #ffffff;
    background-color: #015472;
}

a.externos:after{
    content: '\1F517';
}

.primeiro-titulo-h1{
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.863);
    color: #000000;
    background-image: linear-gradient(to right,#02A8E4, transparent);
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.5s;
}

.segundo-titulo-h2{
    font-family: var(--fonte-titulo);
    background-image: linear-gradient(to right,#02A8E4, transparent);
    color:#000000 ;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.863);
    transition-duration: 0.5s;
}

.terceiro-titulo-h2{
    font-family: var(--fonte-titulo);
    color: #000000;
    font-size: 1.3em;
    background-image: linear-gradient(to right, #02A8E4, transparent);
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 0px rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.quarto-titulo-h2{
    font-family: var(--fonte-titulo);
    color: #000000;
    font-size: 1.2em;
    background-image: linear-gradient(to right, #02A8E4, transparent);
    padding: 5px;
    border-radius: 5px;
    text-shadow: 2px 2px 0px rgb(255, 255, 255);
    transition-duration: 0.5s;
}

div.videos{
    position: relative;
    background-color: #012350;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom:58% ;
}

div.videos > iframe{
    position: absolute;
    top:5% ;
    left:5% ;
    width:90% ;
    height: 90%;
}

aside{
    background-color: #041E40;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    color: rgba(255, 255, 255, 0.884);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-titulo);
}

#titulo-aside{
    color: white;
    font-size: 1.7em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding-left: 25px;
}

#paragrago-aside{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

abbr{
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    font-family: var(--fonte-titulo);
    font-weight: normal;
    font-size: 1.2em;
}

abbr:hover{
    color: rgb(255, 255, 255);
    background-color: #15397c;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.3em;
}

#fundo-tabela{
    background-color: #073673;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    padding-left: 6px;
    padding-right: 10px;
    padding-bottom: 15px;
    overflow-x: auto;
}

table{
    border-collapse: collapse;
    max-width: 900px;
    min-width: 420px;
    margin: auto;
    margin-top: 15px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.493);
}

.cAno{
    background-color: #031b39e8;
}

.cCriação{
    background-color: #031b39b0;
}

.cDescrição{
    background-color: #031b3998;
}

caption{
    font-family: var(--fonte-numero-caption);
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.521);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.747);
    letter-spacing: 3px;
    margin-bottom: 20px;
}

#titulo-tabela{
    background-image: linear-gradient(to right, #041E40,  transparent);
    color:white ;
    font-size: 1.4em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.699);
    font-family:var(--fonte-titulo) ;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-right: 10px;
    margin-left: -6px;
    border-top-left-radius: 5px;
    padding: 10px;
}

thead{
    background-color: #011F45;
}

.criação-descriçãoo{
    text-align: left;
    padding-left: 10px;
}

th{
    font-family: var(--fonte-numero-caption);
    border: 0.3px solid rgba(0, 0, 0, 0.658);
    color: white;
    text-shadow: 1px 1px 0px black;
    font-weight:bold;
    font-size: 1.6em;
    letter-spacing: 2px;
    padding-left:5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

td{
    font-family: var(--fonte-padrao);
    background-color: rgba(0, 0, 0, 0.507);
    color: rgba(255, 255, 255, 0.822);
    border: 0.3px solid black;
    padding: 10px;
    font-size: 1.1em;
    line-height: 25px;
    letter-spacing: 1px;
}

.ano-numero{
    font-family: var(--fonte-numero-caption);
    font-weight: normal;
    color: #01ffea;
    text-shadow: 1px 1px 0px black;
    transition-duration: 0.5s;
}

.ano-numero:hover{
    color: white;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    font-weight: bold;
}

.criação-texto{
    color: white;
    text-shadow: 1px p1x 0px black;
    text-align:left;
    padding: 18px;
    transition-duration: 0.3s;
}

.criação-texto:hover{
    color: #0048b4;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}

.Descrição-texto{
    color: rgba(255, 255, 255, 0.61);
    padding: 18px;
}

footer{
    background-color: #000000;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    font-size: 1em;
    font-family: var(--fonte-titulo);
}

#githube-footer{
    border-radius: 50px;
    margin-bottom: -10px;
}
